* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.box {
    position: relative;

}

h1 {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    align-items: center;
    background: red;
    position: sticky;
    width: 100%;
    top: 0px;

}

.but>a>button{
    width: 120px;
    height: 120px;
    background: blue;
    border-radius: 50%;
    color: white;
    position: fixed;
    bottom: 100px;
    right: 50px;
}